body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  perspective: 999px;
}

.drop-areas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 50px;
  margin-bottom: 400px; /* 드랍 영역과 초기 영역 사이 간격 */
}

.initial-area {
  display: flex;
  flex-direction: row;
  width: 1300px;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  background-color: #222; /* 초기 큐브 영역 배경색 */
  border: 2px solid #fff;
  padding-bottom: 50px;
}

.drop-area {
  width: 150px;
  height: 150px;
  background-color: #333;
  border: 2px dashed #fff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.cube {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotateX(30deg) rotateY(-18deg) rotateZ(10deg);
}

/* 각 면 정의 */
.face {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #0066cc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

/* 큐브 각 면의 위치 설정 */
.front {
  transform: translateZ(50px);
}
.back {
  transform: rotateY(180deg) translateZ(50px);
}
.left {
  transform: rotateY(-90deg) translateZ(50px);
}
.right {
  transform: rotateY(90deg) translateZ(50px);
}
.top {
  transform: rotateX(90deg) translateZ(50px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}

/* 큐브 hover 시 빛나는 효과 추가 */
.cube:hover {
  box-shadow: 0px 0px 15px 5px rgba(0, 102, 204, 0.6); /* 빛나는 효과 */
  transform: rotateX(0deg) rotateY(0deg); /* 약간의 회전도 제거 */
}

/* 드랍된 큐브의 6면 색상 변경 */
.cube.dropped .face {
  background-color: rgb(51, 0, 255);
}

/* 큐브 hover 시 cube와 face 모두에 빛나는 효과 추가 */
.cube:hover,
.cube:hover .face {
  box-shadow: 0px 0px 30px 15px rgba(32, 126, 220, 0.5); /* cube와 face에 동일한 빛나는 효과 */
}
