.chat-bubble {
  position: absolute;
  background-color: rgba(119, 174, 232, 0.9);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  margin: 20px;
}

.chat-input {
  border: none;
  outline: none;
  padding: 10px;
  background-color: transparent;
  font-size: 24px;
  color: white;
}

.chat-input::placeholder {
  color: white;
  opacity: 0.8;
  font-size: 24px;
}

/* 숨겨진 span */
.hidden-span {
  position: absolute;
  visibility: hidden;
  white-space: pre;
  font-size: 24px;
  padding: 10px;
}
